<% title "Questions" %>

<table>
  <tr>
    <th>Question</th>
    <th>Options</th>
    <th>Answer</th>
    <th>Image Url</th>
  </tr>
  <% for question in @questions %>
    <tr>
      <td><%= question.question %></td>
      <td><%= question.options %></td>
      <td><%= question.answer %></td>
      <td><%= question.image_url %></td>
      <td><%= link_to "Show", question %></td>
      <td><%= link_to "Edit", edit_question_path(question) %></td>
      <td><%= link_to "Destroy", question, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Question", new_question_path %></p>
