<% title "Users" %>

<table>
  <tr>
    <th>Name</th>
    <th>Uid</th>
    <th>Pic Square With Logo</th>
    <th>Profile Url</th>
    <th>Level</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.uid %></td>
      <td><%= user.pic_square_with_logo %></td>
      <td><%= user.profile_url %></td>
      <td><%= user.level_id %></td>
      <td><%= link_to "Show", user %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
      <td><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User", new_user_path %></p>
