<% title "User" %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Uid:</strong>
  <%= @user.uid %>
</p>
<p>
  <strong>Pic Square With Logo:</strong>
  <%= @user.pic_square_with_logo %>
</p>
<p>
  <strong>Profile Url:</strong>
  <%= @user.profile_url %>
</p>
<p>
  <strong>Level:</strong>
  <%= @user.level_id %>
</p>

<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p>
