<% question = Question.last %>

<div class="question-text">Pop quiz, hot shot! <%= question.question %></div>

<div class="question-image">
<%= image_tag question.image_url, :alt => question.question,
                                  :class => "question-image" if question.image_url %>
</div>

<div id="answers">
  <% question.options.each do | answer_id, answer_text | %>
    <div onmouseover="new Effect.Highlight(this, { startcolor: '#fff9d7', endcolor: '#eceff6',
                                                   restorecolor: '#eceff6'}); return false;"
         onclick="
            new Effect.Shake(this);
            new Effect.Highlight(this, { startcolor: '#eceff6', endcolor: '#ffebe8',
                                                   restorecolor: '#eceff6'});
            new Ajax.Request('/submit_answer_ajax', {
              method: 'get',
              parameters: {question_id: <%= question.id %>, answer_id: <%= answer_id %>}
              });
// location.href='/'
            " class="fbbluebox answer clickable" id="answer<%= answer_id %>"><%= answer_text %></div>
  <% end %>
</div>