<% place = @place %>

<div class="favorite" style="cursor:pointer" id="place-<%=place.id%>" onmousemove="Effect.Appear($('delete-<%= place.id %>'), {duration:.3})"
                          onmouseout="$('delete-<%= place.id %>').hide()"
                            onclick="">
        <div style="float:left; width:26px; height:26px;">
          <%= link_to({:controller => 'facebook', :action => 'remove_place', :place_id => place.id }, :remote => true) do %>
            <img id="delete-<%= place.id %>" style="border:none;cursor:pointer;display:none;" src="/images/icons/delete.png"/>
          <%end%>
        </div>
        <span onclick="window.open('<%= place.url %>', '_blank')">
            <div style="float:left; width:26px; height:26px;">
                <img id="go-<%= place.id %>" style="border:none;cursor:pointer;" src="/images/icons/world.png"/>
            </div>
            <%= place.name %>
        </span>
</div>
