<div style="width:750px">
<div class="header">
  <h2>So You Think You Know <span class="highlight">Boston</span> <span class="exclaim">?</span> <a class="tinyurl" href="">(change city)</a></h2>
</div>

<div class="fbbluebox intro">
  <%= image_tag @user.pic_square_with_logo, :class => "header_pic" %>
  Hey you<% if @name %>, <b><%= @name %><% end %></b><span class="exclaim-mini">!</span>

  <% if !@friends.empty? %>
    Your friend <%=@friends.first.name%> is a Boston <span class="level"><%= @friends.first.level.name %></span>.
  <% end %>
  Right now it looks to me like you're a <span class="level">Confused Tourist</span>.
  If you've <em>really</em> been to Boston, prove it<span class="exclaim-mini">!</span>
  <div onclick="Effect.BlindUp(this.parentNode);Effect.Fade(this.parentNode);Effect.Appear($('top-divider'))" style="cursor: pointer; float:right; margin-top: 9px;">
    <img src='/images/icons/cross.png'/>
  </div>
</div>
  <div class="fbcontentdivider" id="top-divider" style="display: none"></div>


<div id="right">
  <div class="fbgreybox profilebox">
    <div class="whatyouare">You are a: <span class="level"><%= @user.level.name %></span></div>
    <div class="levellogo"><%= image_tag @user.level.image_url,
      :width => 150, :height => 150, :alt => @user.level.description %></div>
    <div class="scores">
      <div class="score">
        <img style="cursor: pointer; float:left; margin-top: 12px; margin-right: 3px" src="images/add.png"/>
        <div class="score-number" id="score-places"><%= @user.place_score %></div>
        <div class="score-text">places </div></div>
      <div class="score"><img style="cursor: pointer;float:left; margin-top: 12px; margin-right: 3px" src="images/add.png"/><div class="score-number" id="score-answers"><%= @user.answer_score %></div> <div class="score-text">trivia</div></div>
      <div class="score"><img onclick="FB.ui({ method: 'apprequests',
       message: '<%= @user.no_tourist_message.escape_single_quotes %>' }); " style="cursor: pointer;float:left; margin-top: 12px; margin-right: 3px" src="/images/icons/user_add.png"/><div class="score-number" id="score-friends"><%= @buds_count %></div> <div class="score-text">local buds</div></div>
    </div>
  </div>
  <div class="favorites" id="favorites">
    <div class="favheader" id="yourfavorites">Your favorites:</div>
    <% @faves.each do | been | %>
        <% @place = Place.find(been.place_id) %>
        <%= render :partial => 'favorite' if @place %>
    <%end%>
    <div class="favoritedivider"></div>
  </div>
  <div class="favorites" id="wanttogo">
    <div class="favheader" id="wanttogotext">Want to go:</div>
    <% @wants.each do | been | %>
        <% @place = Place.find(been.place_id) %>
        <%= render :partial => 'want' if @place %>
    <%end%>
    <div class="favoritedivider"></div>
  </div>
</div>

<div id="left">
  <% if @question %>
      <div class="question" id="question">
        <%= render :partial => "question", :locals => { :user => @user, :fbuser => @fbuser, :number => 1 } %>
      </div>
  <% elsif @place %>
      <div class="question" id="question">
        <%= render :partial => "place", :locals => { :user => @user, :fbuser => @fbuser, :number => 1 } %>
      </div>
  <% end %>
</div>
  
<div class="bottom">
  <!--<div class="fbinfobox">Page loaded in <%= Time.now - @start_time %> ms</div>-->
  <!--<div class="fbcontentdivider"></div>-->
  <!--Thanks for playing! -->
  <!--<div class="fbcontentdivider"></div>-->


  <div class="fbgreybox">You have <%= @friends_count if @friends_count %> friends, but only <%= @buds_count if @buds_count %> know Boston... Why don't you <a style="cursor:pointer" onclick="FB.ui({ method: 'apprequests',
       message: '<%= @user.no_tourist_message.escape_single_quotes %>' });">see if any of them know Boston</a><span class="exclaim-mini">?</span>

    Or, for giggles,
    <a style="cursor:pointer" onclick="FB.ui({ method: 'feed', message: 'Facebook for Websites is super-cool'});">
    click here!</a>

    <a href="/facebook/first_fb">Reset your session</a>

  </div>
</div>
  
</div>