<div style="width:750px">
<div class="header">
  <h2>So You Think You Know <span class="highlight">Boston</span> <span class="exclaim">?</span> <a class="tinyurl" href="">(change city)</a></h2>
</div>

<div class="fbbluebox intro">
  <%= image_tag @user.pic_square_with_logo, :class => "header_pic" %>
  Hey you<% if @name %>, <b><%= @name %><% end %></b><span class="exclaim-mini">!</span>
  Your friend Kristen is a Boston <span class="level">Social Butterfly</span>. Right now it looks to me like you're a <span class="level">Confused Tourist</span>.
  If you've <em>really</em> been to Boston, prove it<span class="exclaim-mini">!</span>
</div>

<div id="right">
  <div class="fbgreybox profilebox">
    <div class="whatyouare">You are a: <span class="level">Confused Tourist</span></div>
    <div class="levellogo"><%= image_tag "http://www.watchmojo.com/blogs/images/tourist.jpg",
      :width => 150, :height => 150 %></div>
    <div class="scores">
      <div class="score"><span>20</span> places</div>
      <div class="score"><span>10</span> answers</div>
      <div class="score"><span>12</span> local buds</div>
    </div>
  </div>
  <div class="fbbluebox profilebox">The next thing below!</div>
</div>

<div id="left">
  <div class="question" id="question">
    <%= render :partial => "question", :locals => { :user => @user, :fbuser => @fbuser, :number => 1 } %>
  </div>
</div>

<div class="bottom">
  <div class="fbinfobox">I am in an info box.</div>
  <div class="fbcontentdivider"></div>
  Welcome to So You Think You Know!
  <div class="fbcontentdivider"></div>


  <div class="fbgreybox">You have <%= @count if @count %> friends... Why don't you <a href="">see if any of them know Boston</a><span class="exclaim-mini">?</span></div>
</div>
  
</div>