<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "So You Think You Know Boston?" %></title>
    <%  stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "sytyk" %>
    <%= javascript_include_tag :defaults %>

    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body class="fbbody">
    <div id="fb-root"></div>
  
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
     FB.init({
        appId:'257381854273911', cookie:true,
        status:true, xfbml:true
     });
  </script>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>

      <%= yield %>
    </div>
  </body>
</html>
